/*colors
#cad3e7
#e9deed
#e8584a
#ac3939
#7d3636
#522d2d
*/
body{background-image: url(https://lh3.googleusercontent.com/KTEktxAdHHjh7xSdzlHhVGWMuoiuuwBtyLr4wGliEqMak96_7mL_N80QSnk7FKaSFRHsoY-C5Dcf2X8_MxRjwZrVEAUawEypZrboE1XYifrecypDhHQKYQHcDDRKczR2TES3OMG7J4GFnHMOY1Qv3bgtnlo4XsspFSJDbP0sdChcoVitOFb62ebnCF1CfUsPulhtDhlpVJLSOnbWO7_tV7C64ZIAcM4g78XoI3NoAqaIpDx6yZr5n3PUAg7XWTBxrRMARiG_jr7JUJildadcz7r62mbfupaLiyvNq_s0QrlgQ_EIYXeKZRnvfDORYwggTSD_CW7GbCML7zoHYylOwJGkU4RirsG0xOGSdA7gUzbwe33rwlDEbBcw_9gNzATwJmoXYAVg0ter37EYGiSIqjguAxECNE8iPLRvLwOUUIId_di_6_9GJAWJgGS-_pritKOj-pm0MMPkBqq79NQPsk3ZmyCCpk48MrVEM3dQ0UWQnWpjDpnmbhkmwRmOPGAA1N5XSdn1CSOP_vn8BeEkRd4KpGrX-HQ-xIrbhrTsXawVCgeQ4elCNDkOOLQxNA9hRQ9Qu46qjiAOIVqhj177d45--fPaFXGtWVF1xIv9TTI-lS1JmJEg59iXVA5D0WgD_iGzP0E7blwbh-PI_h1xsJyIdNH4zE3q=s200-no);
  background-color:#ac3939;
}

#calcbody{
  background:#cad3e7;
  height:500px;
  width:400px;
  margin: auto;
  margin-top:80px;
  border-radius: 20px;
  color: #522d2d;
  --screen-color:#e9deed;
  --box-shadow-color:#522d2d;
  
box-shadow: 10px 10px 16px 3px rgba(0,0,0,0.7), inset 10px 10px 16px 1px rgba(255,255,255,.7) ;
  border-left: 3px solid rgba(255,255,255,0.3);
  border-top: 3px solid rgba(255,255,255,0.3);
  border-right: 3px outset rgba(0, 0, 0, 0.7);
  border-bottom: 3px outset rgba(0, 0, 0, 0.7);
  font-family: 'Iceberg', cursive;
}

h3{
  padding:2px;
  text-align:center;
  font-size:25px;
}
#screen{
  
  background: var(--screen-color);
  height:80px;
  width:300px;
   margin: auto;
  margin-top: -20px;
  border-radius:10px;
text-align:right;
box-shadow: inset 1px 1px 13px -2px var(--box-shadow-color);
  
}
p{
  font-size:40px;
  padding:5px;
}
#equation{
  font-size:20px;
  opacity: 0.7;
  margin-top:-100px;
}
button{
  color:var(--box-shadow-color);
  border-color: var(--screen-color);
  font-family: 'Iceberg', cursive; 
}
#buttons{
  
  width:300px;
  height: 300px;
  margin:auto;
  padding:10px
}
.smlbtn{
  width:20%;
  height: 50px;
  background:#e8584a;
  display:inline-block;
  margin:6px;
  border-radius:10px;
  text-align:center;
  font-size: 40px;
  color: var (--box-shadow-color);
box-shadow: 3px 3px 4px 2px var(--box-shadow-color);
  cursor:pointer;
  border-color: var(--screen-color);
  padding-bottom:5px;
}
.smlbtn:active, #equals:active{ 
box-shadow: 1px 1px 2px 1px var(--box-shadow-color) ;

  
}
#equals{ width:45%;
  height: 50px;
  background: linear-gradient(to top left, #7d3636 0%,#ac3939 20%, #e8584a 40%, #ac3939 70%, #7d3636 100%);
  display:inline-block;
  margin:6px;
  border-radius:10px;
  text-align:center;
  font-size: 40px;
  font-weight:bold;
   
   
box-shadow: 3px 3px 4px 2px var(--box-shadow-color);
  cursor:pointer;
}
#plus, #minus, #times, #divide{
  background:#ac3939;
  color:var(--screen-color);
  border-color:var (--bow-shadow-color);
}
#ac, #ce{
  background:#7d3636;
  color:var(--screen-color);
  font-size:35px;
  padding:3px 5px 8px 5px;
} 
#rainbow{
  background-image:url(https://lh3.googleusercontent.com/aBFlOewIyUKD0K7zcPndc96CPqQ4Z0h91c963s96sFTh6kZboAoQpvi3SNOQoy_m8JNLTAAtR3uxUt8KHEuiWDgFQbLR09jpjgYArqPMrGHvmIGSNPI7OJMNFuE8cADp7HSfZrlGrKLvSaeiXlBHnBK9g9O2D9hvPYHlf4LmY-UJ2LhQaVOsbfKv6eDqk0Xh7flfluPAYhw42tCKx_V2HdXab-7lsJoFBMYvrMKTEeCp9o1P3QwydKdq3PcmIyR7hjAR1kmSwFinu_dn1z3Gwm67QYU5aMdgyWnGL-K58WFzmIS7NIjMuCUGtk6e2mrZd8K3XHowWVIfQo2hhD9BDC9oocjA56Yeln2HrX9fScKE_kglT9XdkVFnWYiddbt6mYNpZ5en0dsA5arYiaS0jeLOSrgSDynu3aeDLttMqYPD-uoV7xOyFDhvmEZ_9Qg7epYTRbrubKSQRYfYoVQbPxvz-ev8L9auTG-a5e9qodTLmDEqRaZ_9m3JZ-ajxRXe1UZKFIOXqf0loXEcTeLbNEPnVoHLuKBHhZguRYcY0EtUvF9G1dwTZ5_mAoIYSVCkTQssPLqdSYXjlCpld4_zY-YhgBrUEecvGEZMB4Sbya30ZtZwLCt4S1ddGda5i_n8BkDAKOP9_zqbbEQY06U6vYIke-1ICNYr=w500-h440-no);
  background-size:cover;
  color:rgba(104, 227, 197,0);
}
